---
layout: book
---
<div id="wrapper">

  <div id="sidepane">
    <div id="bookplate"><a href="chapter-1.html"><img src="../images/2006.cover.jpg" alt="why's (poignant) guide to ruby" /></a></div>
    <div id="bookseal"><a href="chapter-1.html"><img src="../images/2006.seal.jpg" alt="Open the book" /></a></div>
    <div id="bookcontents">
      <h3>~ Contents ~</h3>
      <ol class=toc>
        {% for chapter in site.posts reversed %}
        <li>
          <a href="{{ chapter.url | remove_first:"/book/" }}">{{ chapter.title | escape }}</a>
          {% if chapter.sections %}
          <ol>{% for section in chapter.sections %}
            <li><a href="{{ chapter.url | remove_first:"/book/" }}#{{ section.first }}">{{ section.last | escape }}</a></li>
          {% endfor %}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <h4>+ Expansion Paks +</h4>
      <ol class=toc>
        <li><a href="expansion-pak-1.html">The Tiger's Vest (with a Basic Introduction to Irb)</a></li>
      </ol>

      <h4>+ See Also +</h4>
      <ol class=toc>
        <li><a href="../dwemthy/">Dwemthy's Array</a>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
      </ol>
    </div>
  </div>

  <div id="main">
    <div class="foxbox">
      <div class="foxbox_head">
        <h3>Lost foxes in <a href="chapter-6.html">Chapter 6. Downtown.</a>
          Such juicy metaprogramming and class design!</h3>
      </div>

      <div class="foxbox_body">
        <p><b>T-Shirts</b>:
          <a href="http://www.cafeshops.com/blixytees.10117492">"Addiction is Like Pokemon..."</a>,
          <a href="http://www.cafeshops.com/blixytees.10116504">"Chunky. Bacon."</a>, and
          <a href="http://www.cafeshops.com/blixytees">others</a>.
        </p>
        <p><br></p>
      </div>
    </div>

    <!-- Page Content discussing Ruby, the book, and my site -->

    <br />

{% capture intro %}
## Прочти этот абзац

В моей месной книгарне есть огромная стена из книг по Java, которая просто ждет чтобы однажды обрушиться и раздавить меня. И однажды это случится. С той скоростью с которой дела движутся, эта книжная полка скоро вырастет так что сможет схоронить под собой нас всех. Она возможно даже пару раз обогнёт земной шар, сбивая предыдущие издания тех же книг по Java снова и снова.

## И этот абзац тоже

Это просто маленькая книга по Ruby. Она не раздавит тебя. Она легка словно перышко (потому что я до сих пор ее не закончил — хе-хе). И существует причина, по которой она останется легкой: потому что Ruby просто изучить.

## А вот этот не читай!

_Почемучкино (трогательное) руководство по Ruby_ издано под лицензией
[Атрибуция-Делись-как-хош][1]. Так что да, пожалуйста — распостраняй, распечатывай, ленно почитывай его в своем домашнем халате. На самом деле, в конце книги тебе предстоит соревнование на Лучший Домашний Халат. Это желанный приз и ты должен чувствовать себя уваженным просто прочитав об этом! (Особенно если ты читаешь это в своём без-пяти-минут-призовом халате.)

## Теперь вернёмся к привычной тебе череде абзацев

Я постараюсь уж слишком не расстраиваться, если эта книга не поразит твое воображение. Вполне возможно, несколько длинных дней моего земного бытия пройдут в ощущении пустоты и в бесконечных рыданиях, но в целом, если не учитывать вышесказанного — я буду в порядке. По крайней мере, приятно осознавать что нижеперечисленные прекрасные тексты раскроют мою тему и несомненно наполнят тебя страстью к Ruby:

*   [Обучение программированию (Learning to Program)][2]

    * Руководство по самым основам: для начинающих изучать Ruby с самого базового уровня. Написано Крисом Пайном (Chris Pine).

*   [Программируя на Ruby (Programming Ruby)][3]

    * Настоящий талмуд и наиболее полный справочник по Ruby. От Дейва Томаса (Dave Thomas) и Энди Ханта (Andy Hunt), также известного как _The Pickaxe_.

*   [Руководство пользователя по Ruby (Ruby User’s Guide)][4]

    * Руководство для изучения Ruby (с примерами кода). Написано Matz, создателем Ruby. Переведено на английский.

*   [Ruby-Lang.org][5]

    * Официальная домашняя страничка языка Ruby.

Теперь, если похоже что ты не нашел содержания с ссылками по левую сторону этой страницы, то вот тебе ссылка на  [первую страницу][6] (трогательного) руководства.

Добро пожаловать на пиратскую радиостанцию технических мануалов.


[1]: http://creativecommons.org/licenses/by-sa/2.5/
[2]: http://pine.fm/LearnToProgram/
[3]: https://pragprog.com/book/ruby4/programming-ruby-1-9-2-0
[4]: http://www.rubyist.net/~slagell/ruby/
[5]: http://www.ruby-lang.org/
[6]: chapter-1.html
{% endcapture %}
{{ intro | markdownify }}

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons License</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>
