---
layout: book
---
<div id="wrapper">

  <div id="sidepane">
    <div id="bookplate"><a href="chapter-1.html"><img src="../images/2006.cover.jpg" alt="why's (poignant) guide to ruby" /></a></div>
    <div id="bookseal"><a href="chapter-1.html"><img src="../images/2006.seal.jpg" alt="Open the book" /></a></div>
    <div id="bookcontents">
      <h3>~ Contents ~</h3>
      <ol class=toc>
        {% for chapter in site.posts reversed %}
        <li>
          <a href="{{ chapter.url | remove_first:"/book/" }}">{{ chapter.title | escape }}</a>
          {% if chapter.sections %}
          <ol>{% for section in chapter.sections %}
            <li><a href="{{ chapter.url | remove_first:"/book/" }}#{{ section.first }}">{{ section.last | escape }}</a></li>
          {% endfor %}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <h4>+ Expansion Paks +</h4>
      <ol class=toc>
        <li><a href="expansion-pak-1.html">The Tiger's Vest (with a Basic Introduction to Irb)</a></li>
      </ol>

      <h4>+ See Also +</h4>
      <ol class=toc>
        <li><a href="../dwemthy/">Dwemthy's Array</a>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
      </ol>
    </div>
  </div>

  <div id="main">
    <div class="foxbox">
      <div class="foxbox_head">
        <h3>Lost foxes in <a href="chapter-6.html">Chapter 6. Downtown.</a>
          Such juicy metaprogramming and class design!</h3>
      </div>

      <div class="foxbox_body">
        <p><b>T-Shirts</b>:
          <a href="http://www.cafeshops.com/blixytees.10117492">"Addiction is Like Pokemon..."</a>,
          <a href="http://www.cafeshops.com/blixytees.10116504">"Chunky. Bacon."</a>, and
          <a href="http://www.cafeshops.com/blixytees">others</a>.
        </p>
        <p><br></p>
      </div>
    </div>

    <!-- Page Content discussing Ruby, the book, and my site -->

    <br />

{% capture intro %}
## Прачытай гэты абзац

У маёй мясцовай книгарні ёсць вялізная сцяна з кніг па Java, якая проста чакае каб аднойчы абрынуцца і раздушыць мяне. І аднойчы гэта здарыцца. З той хуткасцю з якой справы рухаюцца, гэта кніжная паліца хутка вырасце так што зможа пахаваць пад сабой нас усіх. Яна магчыма нават пару разоў абміне зямны шар, збіваючы папярэднія выданні тых жа кніг па Java ізноў і зноў.

## І гэты абзац таксама

Гэта проста маленькая кніга па Ruby. Яна не раздушыць цябе. Яна лёгкая нібы пярынка (таму што я дагэтуль яе не скончыў — хе-хе). І існуе прычына, па якой яна застанецца лёгкай: таму што Ruby проста вывучыць.

## А вось гэты не чытай!

_Чамучкіна (замілавальнае) кіраўніцтва па Ruby_ выдадзена пад ліцэнзіяй
[Атрыбуцыя-Дзяліся-як-хочаш][1]. Так што так, калі ласка — распаўсюджвай, раздрукоўвай, ленна пачытвай яго ў сваім хатнім халаце. Насамрэч, пад канец кнігі табе мае быць спаборніцтва на Лепшы Хатні Халат. Гэта жаданы прыз і ты павінен пачуваць сябе ўважаным проста прачытаўшы пра гэта! (Асабліва калі ты чытаеш гэта ў сваім без-пяці-хвілін-прызавым халаце.)

## Зараз вернемся да звыклай цябе чарадзе абзацаў

Я паспрабую ўжо занадта не разладжвацца, калі гэта кніга не ўразіць тваё ўяўленне. Цалкам магчыма, некалькі доўгіх дзён майго зямнога быцця пройдуць у адчуванні пустэчы і ў бясконцых рыданнях, але ў цэлым, калі не ўлічваць вышэйсказанага — я буду ў парадку. Прынамсі, прыемна ўсведамляць што ніжэйпералічаныя выдатныя тэксты раскрыюць маю тэму і несумнеўна напоўняць цябе захапленнем да Ruby:

*   [Навучэнне праграмаванню (Learning to Program)][2]

    * Кіраўніцтва па самых асновах: для пачаткоўцаў вывучаць Ruby з самага базавага роўня. Напісана Крысам Пайнам (Chris Pine).

*   [Праграмуючы на Ruby (Programming Ruby)][3]

    * Сапраўдны талмуд і найболей поўны даведнік па Ruby. Ад Дэйва Томаса (Dave Thomas) і Эндзі Ханта (Andy Hunt), таксама вядомага як _The Pickaxe_.

*   [Кіраўніцтва карыстача Ruby (Ruby User’s Guide)][4]

    * Кіраўніцтва для вывучэння Ruby (з прыкладамі кода). Напісана Matz, стваральнікам Ruby. Перакладзена на ангельскі.

*   [Ruby-Lang.org][5]

    * Афіцыйная хатняя старонка мовы Ruby.

Цяперака, калі здаецца што ты не знайшоў зместу са спасылкамі па левы бок гэтай старонкі, то вось табе спасылка на [першую старонку][6] (замілавальнага) кіраўніцтва.

Сардэчна запрашаем на пірацкую радыёстанцыю тэхнічных мануалаў.


[1]: http://creativecommons.org/licenses/by-sa/2.5/
[2]: http://pine.fm/LearnToProgram/
[3]: https://pragprog.com/book/ruby4/programming-ruby-1-9-2-0
[4]: http://www.rubyist.net/~slagell/ruby/
[5]: http://www.ruby-lang.org/
[6]: chapter-1.html
{% endcapture %}
{{ intro | markdownify }}

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons License</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>
